h3 {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1275px;
    margin: 0 auto;
}

.card {
    margin: 15px 10px;
    padding: 10px;
    width: 25%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #D3D3D3, -2px -2px 5px #D3D3D3;
}

.headerDiv {
    border-bottom: 2px solid #D3D3D3;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.cardHeader {
    margin: 5%;
    padding: 1%;
    border: 2px solid grey;
    width: 6%;
    border-radius: 20px;
}

.cardBody p {
    text-align: justify;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imgContainer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card button {
    all: unset; // removes default behaviour of button
    cursor: pointer;
    padding: 10px;
    margin: 15px 0 0 auto;
    background: #175dad;
    border-radius: 15px;
    color: white;
    display: block;
}

.para {
    display: block;
    text-align: cover;
}

@media only screen and (max-width: 1019px) {
    .card {
        width: 30%;
    }
}

@media only screen and (max-width: 749px) {
    .card {
        width: 45%
    }
}

@media only screen and (max-width: 514px) {
    .card {
        width: 80%
    }
}